.baumpro{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #1f1f1f;
    color: #cbcbcb;
}
.title {
    font-size: 3rem;
    font-weight: bold;
    color: #ff00ff;
    padding-bottom: 30px;
}
.skidki{
    display: grid;
    color: red;
    justify-content: end;
    align-items: end;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    font-size: 15px;
}
.tariffsTable {
    width: 100%;
    th, td {
        padding: 10px;
    }
    th {
        color: #fff;
        font-weight: bold;
    }
}
h3 {
    display: flex;
    text-align: center;
    font-size: 2em;
    color: #00fff7;
    margin-bottom: 15px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}
.pro{
    padding-top: 40px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 1.1em;
    border-bottom: 1px dashed #ccc;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: #002b7b;
    color: #007bff;
}
li span.price {
    color: #007bff;
    font-weight: bold;
    font-size: 1.1em;
}

.standarts{
    gap: 40px;
    min-width: 350px;
    padding-bottom: 50px;
}
.ccb {
    display: flex;
    flex-wrap: wrap; 
    place-items: center;
    gap: 50px;
    .bootcamp {
        display: grid;
        justify-content: space-evenly;
    }
    .subtitle {
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        color: #00eeff;
        flex: 1 1 100%;
        justify-content: start;
        gap: 30px;
        max-width: 330px;
    }
}
.standarts{
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    place-items: center;
    gap: 50px;
}
.snacksdrinks{
    display: flex;
    gap: 30px;
    width: 288px;
}
.priceps5{
    color:#007bff;
    font-size: 1.5rem;
}
.ps5time{
    display: flex;
    gap: 15px;
}
@media (max-width: 1000px) {
    .ccb{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }    
    .title{
        font-size: 2.5rem
    }
}
@media (max-width: 640px) {
    .standarts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .ps5{
        place-items: center;
    }
    .priceps5{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
}
@media (max-width: 510px){
    .priceps5{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 335px;
    }
}